{
    "CN": "{{ var_ssl_k8scm_csr_cn }}",
    "hosts": [
      "127.0.0.1",
      "{{ var_all_in_one_hostip }}"
    ],
    "key": {
        "algo": "{{ var_ssl_key_algo }}",
        "size": {{ var_ssl_key_size }}
    },
    "names": [
        {
            "C": "{{ var_ssl_names_c }}",
            "L": "{{ var_ssl_names_l }}",
            "ST": "{{ var_ssl_names_st }}",
            "O": "{{ var_ssl_names_o_k8scm }}",
            "OU": "{{ var_ssl_names_ou }}"
        }
    ]
}
