{
  "CN": "{{ var_ssl_flannel_csr_cn }}",
  "hosts": [],
  "key": {
    "algo": "{{ var_ssl_key_algo }}",
    "size": {{ var_ssl_key_size }}
  },
  "names": [
    {
      "C": "{{ var_ssl_names_c }}",
      "ST": "{{ var_ssl_names_l }}",
      "L": "{{ var_ssl_names_st }}",
      "O": "{{ var_ssl_names_o }}",
      "OU": "{{ var_ssl_names_ou }}"
    }
  ]
}
