#!/bin/sh

export HOST_LIST_K3S_SERVER=${HOST_LIST_K3S_SERVER:-192.168.163.121}
export HOST_LIST_K3S_AGENT=${HOST_LIST_K3S_AGENT:-192.168.163.122 192.168.163.123 192.168.163.124}
export INSTALL_K3S_VERSION=${INSTALL_K3S_VERSION:-1.0.0}
export INSTALL_K3S_SKIP_DOWNLOAD=${INSTALL_K3S_SKIP_DOWNLOAD:-true}
export INSTALL_K3S_BIN_DIR=${INSTALL_K3S_BIN_DIR:-/usr/local/bin}
export ENV_RUN_MODE=${ENV_RUN_MODE:-"-e"}
export ENV_SELINUX_DISABLED=${ENV_SELINUX_DISABLED:-NO}
